@model Cart
@*<div class="">
    @if (Model.Lines.Count() > 0)
    {
        <small class="navbar-text">
            <b>Your cart:</b>
            @Model.Lines.Sum(x => x.Quantity) item(s)
            @Model.ComputeTotalValue().ToString("c")
        </small>
    }
    <a class="btn border" asp-page="/Cart"
       asp-route-returnurl="@ViewContext.HttpContext.Request.PathAndQuery()">
        <i class="fas fa-shopping-cart text-primary"></i>
    </a>
</div>*@


<a href="/Cart" class="btn border">
    <i class="fas fa-shopping-cart text-primary"></i>
    <span class="badge">@Model.Lines.Sum(x => x.Quantity)</span>

</a>